* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    background-color: #e0b0c7;
    margin:auto;
}



.item-titulo {
    grid-area: titulo;   
}

.item-menu {
    grid-area: menu;
}

.item-sobremi {
    grid-area: sobremi;
}
.item-videos {
    grid-area: videos;
    display:flex;
    flex-wrap: wrap;
}
.item-textoA {
    grid-area: textoA;
}

.item-textoB{
    grid-area: textoB;
}

.item-textoC {
    grid-area: textoC;
    margin-right: 4em;
}

.item-edades {
    grid-area: edades;
}

.item-contacto {
    grid-area: contacto;
}

.item-creadora {
    grid-area: creadora;
}

.item-autora {
    grid-area: autora;
}
.item-articulo1{
    grid-area: articulo1;
}
.item-articulo2{
    grid-area: articulo2;
}
.item-articulo3{
    grid-area: articulo3;
}
.item-articulo4{
    grid-area: articulo4;
}

.grid-container2 {
    display: grid;
    grid-template-areas:
        'titulo titulo titulo titulo titulo titulo'
        'menu menu menu menu menu menu'
        'sobremi sobremi sobremi sobremi sobremi sobremi'        
        'textoA textoA textoA textoA textoC textoC'
        'videos videos videos videos videos videos'
        'autora autora articulo1 articulo2 articulo3 articulo4'
        'edades edades edades edades edades edades'
        'contacto contacto contacto contacto contacto contacto'
        'creadora creadora creadora creadora creadora creadora';
    grid-gap: 1em;
    padding: 1em;
    }

.titulos

    h1  {
    color:#f5f6ed;
    font-size: 3.5em;
    font-family:'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;  
}
    h2 {
    color:#f5f6ed;
    font-family: 'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}  
    
.item-textoA, .item-textoB, .item-textoC {
    border:#f5f6ed solid 2px;
    border-radius: 20px;
}

.item-autora, .item-articulo1, .item-articulo2, .item-articulo3, .item-articulo4 {
    border:#f5f6ed solid 2px;
    border-radius: 20px;
    margin-top: 4em;
    margin-bottom: 4em;   
}

#logo img {
    width: 10em;
    height: 10em;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
}



.item-menu  { 
    text-decoration: none;
    font-family:'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
    font-size: 1.1em;
    display: inline;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;    
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
         

.item-menu .menu button {
    background-color: #e0b0c7;
    width: 10em;
    padding: 0.3em;
    border: 0.2em onset;
    margin-top: 0.4em ;
    margin-bottom: 0.4em;
}


.item-menu .menu button a:visited, a:active, a:link {
text-decoration: none;
color: #625A5A;
}

.item-menu .menu button:hover {
    font-weight: bold;
    background-color: #f5f6ed;
}



.cv {
    
    font-family: 'Roboto Condensed', 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #625A5A;
    font-size: 1.1em; 
    text-align: center;      
    vertical-align: middle;     
    margin-left: 2em;
    margin-right: 2em; 
    line-height: 2em;
    
}
    

.item-videos ul  {
    display:flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: space-evenly;
    
}

    iframe {
    padding: 1em 1em;
    margin: 1em 1em;  
    }

.item-edades {
background-color: #fff;
border: 0.2em solid #27407e;
padding: 0;
margin: 0;  
   
}

#texto_edades p {
color: #27407e;
font-size: 2em;
font-family:'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
text-align: center;
}

.imagenes_iso {
    display:flex;
    flex-direction: row;        
    justify-content: space-evenly;   
}

.imagenes_iso img  {
    width: 17em;
    
}

.item-edades #turno {
    
    font-family: 'Roboto Condensed', 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    text-decoration: #e0b0c7;
    text-align: center;
    
}

item.edades #turno a:link, a:visited, a:active {
    text-decoration:none;
   
}

.item-edades #turno button {
    background-color: #27407e;
    padding: 0.3em;
    border: 0.2em onset;
    margin-top: 0.4em ;
    margin-bottom: 0.4em;
    font-family: 'Roboto Condensed', 'Montserrat', sans-serif;    
        
}


.item-edades #turno button:hover{
background-color: #f5f6ed;
font-weight: bold;
}

.icono {
    color:#f5f6ed;
    font-size: 3em;
    text-align: center;
}

.item-contacto

#datos  {
    color: #625A5A;
    font-family: 'Roboto Condensed', 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1em;
    text-align: center;
    position: relative;
    top: 0.5em;        
}

h3 {
margin: 2em;    
}

#datos a :hover{
        font-size: 1.7em; 
        font-weight: bold;
}

#datos a:link, a:visited, a:active {
    text-decoration:none;
    color:#f5f6ed;
    
}

.item-creadora > p {
    
    font-family: 'Reenie Beanie', cursive, 'Alegreya Sans SC', sans-serif;
    text-align: center;
    font-size: 1.2em ;
    font-style: normal;
    font-weight: 200;    
}

.item-textoA ~ .item-textoC {
    display: flex;
    flex-wrap: wrap;
    flex:50%;
    flex-direction: column;
}




