* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    background-color: #e0b0c7;    
    margin:auto;  
}


.item-logo {
    grid-area: logo;
    width: 25vw;
}

.item-titulo {
    grid-area: titulo;  
    width: 75vw; 
}

.item-menu {
    grid-area: menu;
}

.item-slides {
    grid-area: slides;
}

.item-texto1 {
    grid-area: texto1;
}

.item-texto2{
    grid-area: texto2;
}

.item-texto3 {
    grid-area: texto3;
    
}

.item-edades {
    grid-area: edades;
}

.item-contacto {
    grid-area: contacto;
}

.item-creadora {
    grid-area: creadora;
}
.grid-container-txt {
    grid-area: txt;
}
.grid-container-header {
    grid-area: header;
   
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu menu menu menu menu menu'
        'slides slides slides slides slides slides'
        'slides slides slides slides slides slides'
        ' txt txt txt txt txt txt'
        ' txt txt txt txt txt txt'
        'edades edades edades edades edades edades'
        'contacto contacto contacto contacto contacto contacto'
        'creadora creadora creadora creadora creadora creadora';
    grid-gap: 1em;
    padding: 1em;
}

.grid-container-txt {
    display:grid;
    grid-template-areas: 
    'texto1 texto1 texto2 texto2 texto3 texto3'
    'texto1 texto1 texto2 texto2 texto3 texto3';
    grid-gap: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

.grid-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-logo {
    flex: 25%;
}
.item-titulo {
    flex: 75%;
}

.item-texto1 {
    flex: 33%;
}
.item-texto2 {
    flex: 33%;
}
.item-texto3 {
    flex: 33%
}


.titulos

    h1  {
    color:#f5f6ed;
    font-size: 3.5em;
    font-family:'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em; 
    

}
    h2 {
    color:#f5f6ed;
    font-family: 'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}  
    h3 {
    color: #f5f6ed;
    font: size 1.5em;;
    font-family: 'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}


.item-logo img {
    width: 10em;
    height: 10em;
    position:relative;
    top: 0.2em;
    right: 0.2em;

    
}



.item-menu  { 
    text-decoration: none;
    font-family:'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
    font-size: 1.1em;
    display: inline;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;    
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;}
         

.item-menu .menu button {
    background-color: #e0b0c7;
    width: 10em;
    padding: 0.3em;
    border: 0.2em onset;
    margin-top: 0.4em ;
    margin-bottom: 0.4em;
}


.item-menu .menu button a:visited, a:active, a:link {
text-decoration: none;
color: #625A5A;
}

.item-menu .menu button:hover {
    font-weight: bold;
    background-color: #f5f6ed;
}

.item-texto1, .item-texto2, .item-texto3 {
    border:#f5f6ed solid 2px;
    border-radius: 20px;
    margin: 3em 3em;
}

.lista ul {
    font-family: 'Roboto Condensed', 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #625A5A;
    font-size: 1.1em; 
    text-align: center;
    list-style: none;  
    margin-bottom: 2em;
    padding-bottom: 2em; 
    margin-left: 2em;
    margin-right: 2em; 
    line-height: 2em;
} 
   
  
.item-edades {
    background-color: #fff;
    border: 0.2em solid #27407e;
    padding: 0;
    margin: 0;     
}

    #texto_edades p {
    color: #27407e;
    font-size: 2em;
    font-family:'Bebas Neue', cursive, 'Alegreya Sans SC', sans-serif;
    text-align: center;
    }

    .imagenes_iso {
        display:flex;
        flex-direction: row;        
        justify-content: space-evenly;
        
    }

    .imagenes_iso img  {
        width: 17em;
     
    }
    
    .item-edades #turno {
        
        font-family: 'Roboto Condensed', 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 200;
        text-decoration: #e0b0c7;
        text-align: center;
        
    }

    .item.edades #turno a:link, a:visited, a:active {
        text-decoration:none;
        
    }

    .item-edades #turno button {
        background-color: #27407e;
        padding: 0.3em;
        border: 0.2em onset;
        margin-top: 0.4em ;
        margin-bottom: 0.4em;
        font-family: 'Roboto Condensed', 'Montserrat', sans-serif; 
        
       
            
    }


    .item-edades #turno button:hover{
    background-color: #e0b0c7;
    font-weight: bold;
    }


.item-contacto

    #datos  {
        color: #625A5A;
        font-family: 'Roboto Condensed', 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 200;
        font-size: 1em;
        text-align: center;
        position: relative;
        top: 0.5em;        
    }

    h3 {
    margin: 2em;    
    }
    
    #datos a :hover{
            font-size: 1.7em; 
            font-weight: bold;
    }
    
    #datos a:link, a:visited, a:active {
        text-decoration:none;
        color:#f5f6ed;
        
    }


.item-creadora > p {
     
     font-family: 'Reenie Beanie', cursive, 'Alegreya Sans SC', sans-serif;
     text-align: center;
     font-size: 1.2em ;
     font-style: normal;
     font-weight: 200;       
}



@media (max-device-width: 640px)  {
      .grid-container-header, .grid-container-txt {
        width: 100%;
      }

}

@media (max-device-width: 1280px) {

    .grid-container-header, .grid-container-txt {
        width: 100%;
    }
  }

  @media (max-device-width: 1600px) {
    .grid-container-header, .grid-container-txt {
        width: 100%;
    }
  }


